This first notebook was used to collect data from the TMDB APIs

In [ ]:
#!pip install requests

In [2]:
import pandas as pd

### Movies info

This API is used to get basic information on the movies (genres, runtime, budget, ...)

In [1]:
# replace XXXX by an actual api_key available here: 
# https://developer.themoviedb.org/reference/intro/authentication#api-key-quick-start
api_key=XXXX

We need to load the list of ids used by TMDB to avoid too many mistakes and a long running time
The list is available here: tmdb.org/p/exports/movie_ids_06_19_2023.json.gz
This list is uptaded everyday. 
It is possible to modify the date in the url to find the most up-to-date list.

In [ ]:
# Loading the list of ids
id_list_csv = pd.read_csv("path of csv containing the list of ids")
id_list = list(id_list_csv['id'])
id_list = [str(num) for num in id_list]

In [ ]:
# Code to call the API and collect data

import requests

tmdb = pd.DataFrame()

# empty lists to store movie attributes
ids = []
titles = []
adults = []
belongs_to_collection = []
date = []
budgets = []
genres = []
imdb = []
language = []
overview = []
production = []
country = []
runtime = []
status = []
vote_count = []
ratings = []

# initialising the for loop
for movie_id in id_list:
    url = "https://api.themoviedb.org/3/movie/"+movie_id+"?api_key="+api_key
    response = requests.get(url)
    tmdb_api = response.json()
    
    try:        
        # extracting movie attributes from the API response
        ids.append(tmdb_api['id'])
        titles.append(tmdb_api['title'])
        adults.append(tmdb_api['adult'])
        belongs_to_collection.append(tmdb_api['belongs_to_collection'])
        date.append(tmdb_api['release_date'])
        budgets.append(tmdb_api['budget'])
        genres.append(tmdb_api['genres'])
        imdb.append(tmdb_api['imdb_id'])
        language.append(tmdb_api['original_language'])
        overview.append(tmdb_api['overview'])
        production.append(tmdb_api['production_companies'])
        country.append(tmdb_api['production_countries'])
        runtime.append(tmdb_api['runtime'])
        status.append(tmdb_api['status'])
        vote_count.append(tmdb_api['vote_count'])
        ratings.append(tmdb_api['vote_average'])
        
        # creating a dataframe using the extracted attributes
        data = {
            'id': ids,
            'title': titles,
            'adult': adults,
            'belongs_to_collection': belongs_to_collection,
            'release_date': date,
            'budget': budgets,
            'genres': genres,
            'imdb_id': imdb,
            'language': language,
            'overview': overview,
            'production_companies': production,
            'country': country,
            'runtime': runtime,
            'status': status,
            'vote_count': vote_count,
            'rating': ratings
        }

        tmdb_df = pd.DataFrame(data)
        
    except Exception as e:
        print(f"Error occurred for id: {movie_id}") # in case of error, a message will appear to specify the id concerned

In [ ]:
# change to remove potential skip to line
tmdb_df['overview'] = tmdb_df['overview'].str.replace('\r', '')
tmdb_df['overview'] = tmdb_df['overview'].str.replace('\n', '')
tmdb_df['overview'] = tmdb_df['overview'].str.replace(';', '')
tmdb_df['overview'] = tmdb_df['overview'].str.replace('&amp', '')
tmdb_df['overview'] = tmdb_df['overview'].str.replace('\u2029', '')
tmdb_df['overview'] = tmdb_df['overview'].str.replace('\u2028', '')

# UTF-8 change to give meaning to overview
from unidecode import unidecode

tmdb_df['title'] = tmdb_df['title'].apply(lambda x: unidecode(str(x)))
tmdb_df['overview'] = tmdb_df['overview'].apply(lambda x: unidecode(str(x)))

In [ ]:
tmdb_df.shape

In [ ]:
# saving it in csv format to use it in the second notebook
tmdb_df.to_csv("path where we want to save this csv")

### Credits

This API is used to get information on the credits (cast and crew members)

In [3]:
# using the id from the csv created after the movie info API call 
tmdb_api = pd.read_csv('path where we saved the previous csv')
id_list = list(tmdb_api['id'])
id_list = [str(num) for num in id_list]

In [8]:
# same code than for movie info but with a different url and only three variables extracted (id, cast, crew)

import requests

tmdb_credits = pd.DataFrame()

ids = []
casts = []
crews = []

for movie_id in id_list:
    url = "https://api.themoviedb.org/3/movie/"+movie_id+"/credits?api_key="+api_key
    response = requests.get(url)
    tmdb_api = response.json()
    
    try:        
        # extracting credits (casts and crews)
        ids.append(tmdb_api['id'])
        casts.append(tmdb_api['cast'])
        crews.append(tmdb_api['crew'])
        
        data = {
            'id': ids,
            'cast': casts,
            'crew': crews,
        }

        tmdb_credits = pd.DataFrame(data)
        
    except Exception as e:
        print(f"Error occurred for id: {movie_id}")

In [10]:
tmdb_credits.shape

(8760, 3)

In [11]:
tmdb_credits.to_csv("path where we want to save this csv")

### Content Ratings

This API is used to the content rating of our movies (not in the first API results)
The methods is exactly the same than for the 2 previous API calls

In [3]:
tmdb_api_2 = pd.read_csv("path of csv containing the list of ids")
id_list = list(tmdb_api_2['id'])
id_list = [str(num) for num in id_list]

In [6]:
import requests

content_ratings = pd.DataFrame()

ids = []
results = []

for movie_id in id_list:
    url = "https://api.themoviedb.org/3/movie/"+movie_id+"/release_dates?api_key="+api_key
    response = requests.get(url)
    tmdb_api = response.json()
    
    try:        
        ids.append(tmdb_api['id'])
        results.append(tmdb_api['results'])

        data = {
            'id': ids,
            'content_rating': results,
        }

        content_ratings = pd.DataFrame(data)
        
    except Exception as e:
        print(f"Error occurred for id: {movie_id}")

In [7]:
mpaa_ratings.to_csv("path where we want to save this csv")

#### End of this first notebook. 
#### Building of the dataset using this three csv and pre-processing steps in the second notebook.